nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

body {
    background-image: url('galaxia.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
}

nav ul li {
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}