nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

body {
    background-image: url('galaxia.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
}

nav ul li {
    cursor: pointer;
}

footer {
    bottom: 0;
}

p{
padding-top: 38px;
padding-bottom: 40px;
}

#m1 {
    font-size: 24px;
}

#m2 {
    font-size: 24px;
}

#m3 {
    font-size: 24px;
}

.highlight-box {
    background-color: #222;
    color: #fff;
    padding: 30px;
    margin: -20px;
}