nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

body {
    background-image: url('galaxia.jpg'); /* Substitua 'galaxia.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Define a cor do texto no site como branco */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com transparência para conteúdo legível */
    padding: 20px;
    color: #fff; /* Cor do texto em áreas de conteúdo */
}

nav ul li {
    cursor: pointer;
}